fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
alembic
supabase
yt-dlp>=2026.8.19
moviepy
librosa
numpy
pandas
joblib
torch
torchvision
face_recognition
opencv-python